{% extends "layout.html" %}

{% block title %}
Alexander Ellis Ordering System
{% endblock %}

{% block main %}


<img src= "{{ url_for('static',filename='logo.jpg') }}"


    
    <div class="section">
        <h2>Alexander Ellis: Welcome</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Customer Order</th>
                    <th class="text-start">Add Info to Order</th>
                    <th class="text-end" colspan="8">Take a Deposit</th>
                    <th class="text-end">Take Payment</th>
                    <th class="text-end">Check Details</th>

                </tr>
            </thead>
            <tbody>
                
                    <tr>
                    
                        <form action="/buy" method="post">
                            <td><input type="hidden" name="symbol" ></td>                       
                            <td><button class="btn btn-primary" type="submit">Create a New Order</button></td>
                        </form>
                        <form action="/customer_order" method="post">
                            <td><input type="hidden" name="symbol" ></td>
                            <td></td>                       
                            <td><button class="btn btn-primary" type="submit">Order Detail</button></td>
                        </form>
                    
                        </tr>
                
            </tbody>

            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="11">Today</td>
                
                </tr>
            </tfoot>
    </table>
</div>
</div>
{% endblock %}